body *{
  font-family: "FrutigerLTStd-Light", sans-serif;
}

h1 {
  font-family: "Flipboard JNL", sans-serif;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-weight: 350;
  text-align: center;
}

h3 {
  font-weight: 700;
  text-align: center;
}

p {
  font-weight: 550;
}

body {
  background-color: lightgray;
}

.page {
  width: 850px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  width: 100%;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}

/* Custom CSS in your external stylesheet or <style> block */
.my-colored-div {
  background-color: #f0f0f0; /* A light grey color */
  padding: 1em; /* Add some padding so the color is visible */
}

.another-color {
  background-color: #add8e6; /* Light blue */
  color: #333; /* Set a contrasting text color */
  padding: 1.5em;
}
/* Custom CSS in your external stylesheet */
.highlight-paragraph {
  background-color: #ffffcc; /* A soft yellow for highlighting */
  padding: 0.5em 1em; /* Vertical and horizontal padding */
  border: 1px solid #e6e6b8; /* A light border for definition */
  margin-bottom: 1em; /* Space below the paragraph */
}